@import 'https://fonts.googleapis.com/css?family=Arvo|Imprima|Lato|Noto+Sans|Open+Sans|Unna|Vollkorn|Abril+Fatface|Cantata+One';

// Font style variables
$font-main: 'Cantata One', serif;
$font-secondary: 'Imprima', sans-serif;
// Week one
$font-unna: 'Unna', serif;
$font-lato: 'Lato', sans-serif;
// Week two
$font-vollkorn: 'Vollkorn', serif;
$font-open-sans: 'Open Sans', sans-serif;
// Week three
$font-arvo: 'Arvo', serif;
$font-noto-sans: 'Noto Sans', sans-serif;
// Week four
$font-abril-fatface: 'Abril Fatface', cursive;


// Color style variables

$color-header: #E8E6E3;
$color-header-secondary: #FF7F66;
$color-main-background: #7ECEFD;
$color-nav-li: #2185C5;

// Week one
$color-week-one-background-gray: lighten(#3E454C, 10);
$color-week-one-fire: darken($color-header-secondary, 20);

// Week two
$color-week-two-grumpy: #94BEE2;
$color-week-two-complement-grumpy: complement($color-week-two-grumpy);

// Week three
$color-week-three-background: darken(#F5F5F5, 10);
$color-week-three-primary: #FF0088;
$color-week-three-secondary: #00E4FF;
// Week four

// Media queries
$breakpoint-480: "screen and (min-width: 480px)";
$breakpoint-700: "screen and (min-width: 700px)";
$breakpoint-950: "screen and (min-width: 950px)";
