// WEEK TWO STYLES

.two {
  background-color: $color-week-two-complement-grumpy;
  background-image: radial-gradient(circle, lighten($color-week-two-grumpy, 15) 20%, #FFF 25%, $color-week-two-complement-grumpy);
  @media #{$breakpoint-800} {
    background-image: radial-gradient(circle, lighten($color-week-two-grumpy, 15) 30%, #FFF 40%, $color-week-two-complement-grumpy);
  }
}

.vollkorn {
  font-family: $font-vollkorn;
}

.open-sans {
  font-family: $font-open-sans;
}

.two .week-title {
  border-bottom: 2px solid $color-week-two-grumpy;
  @media #{$breakpoint-480} {
    margin-bottom: 5px;
    padding-top: 10px;
  }
}

.two .date {
  @media #{$breakpoint-480} {
    height: 20px;
  }
}

.week-two-copy {
  margin-top: 20px;
  padding: 20px;
  width: 100%;
  @media #{$breakpoint-600} {
    padding-bottom: 0;
  }
  @media #{$breakpoint-800} {
    margin-top: 0;
    padding-top: 0;
  }
  span {
    display: block;
    font-family: $font-open-sans;
    font-size: 18px;
    width: 100%;
  }
}

b {
  font-family: $font-vollkorn;
  font-size: 30px;
  margin: 0 3px;
  @media #{$breakpoint-800} {
    font-size: 40px;
    font-style: italic;
  }
}

.could {
  margin-bottom: 10px;
  @media #{$breakpoint-600} {
    padding-left: 60px;
    @media #{$breakpoint-800} {
      font-size: 26px;
      margin-top: 10px;
    }
  }
}

.because {
  margin-bottom: 20px;
  text-align: right;
  @media #{$breakpoint-480} {
    padding-right: 30px;
    @media #{$breakpoint-800} {
      font-size: 26px;
      margin-bottom: 0;
    }
  }
}

.animal {
  text-align: right;
  margin: 20px 0;
  @media #{$breakpoint-480} {
    margin-top: 30px;
    padding-right: 30px;
    padding-top: 20px;
    @media #{$breakpoint-800} {
      font-size: 26px;
      margin-top: 10px;
      margin-bottom: 0;
      padding-right: 60px;
      padding-top: 0;
    }
  }
}

.hate {
  font-size: 16px;
  margin: 30px 0;
  @media #{$breakpoint-480} {
    margin-top: 10px;
    @media #{$breakpoint-600} {
      padding-left: 40px;
      @media #{$breakpoint-800} {
        font-size: 26px;
        margin-bottom: 0;
      }
    }
  }
}

.steve {
  text-align: center;
  @media #{$breakpoint-800} {
    font-size: 16px;
    margin: 10px;
  }
}

.two .fonts {
  font-size: 14px;
  @media #{$breakpoint-480} {
    justify-content: center;
    @media #{$breakpoint-480} {
      margin-top: 0;
    }
  }
}

.two .fonts li {
  padding-left: 10px;
}

.two .fonts a:hover{
    color: $color-week-two-grumpy;
}

.fonts .vollkorn {
  font-size: 15px;
}

.grumpy-steve-bear {
  display: block;
  margin: 0 auto;
  max-height: 200px;
  width: auto;
  @media #{$breakpoint-480} {
    margin-top: 40px;
    @media #{$breakpoint-800}{
      margin-top: 0;
      max-height: 300px;
    }
  }
}
