// WEEK ONE STYLES

.one {
  background-color: $color-week-one-background-gray;
}

.fire {
  animation: skew 1s infinite;
  animation-direction: alternate;
  color: $color-week-one-fire;
  display: inline-block;
  font-family: $font-lato;
  font-size: 48px;
  letter-spacing: .1em;
  text-transform: uppercase;
  transform: skew(20deg);
}

@keyframes skew {
  0% {
    transform: skewX(20deg);
  }
  100% {
    transform: skewX(-20deg);
  }
}

.blue {
  color: $color-main-background;
  font-family: $font-lato;
  font-size: 40px;
  letter-spacing: .1em;
  margin: 0 auto;
  transform: skewY(20deg);
  width: 15%;
}

.unna {
  font-family: $font-unna;
}

.fonts .unna {
  font-size: 20px;
}

.lato {
  font-family: $font-lato;
}

.week-one-copy {
  font-size: 20px;
  letter-spacing: .5em;
  line-height: 2.2em;
  margin: 10px auto;
  width: 80%;
}

@media screen and (min-width: 480px) {

// WEEK ONE

  .week-one-copy {
    font-size: 1.4em;
    margin-top: 20px;
    padding-left: 40px;
    width: 85%;
  }

  .one .fonts {
    margin-top: 100px;
  }
}

@media screen and (min-width: 600px) {

  // WEEK ONE STYLES

  .week-one-copy {
    line-height: 3em;
  }
}


@media screen and (min-width: 790px) {

  // WEEK ONE STYLES

  .week-one-copy {
    font-size: 1.8em;
    letter-spacing: 0.3em;
    line-height: 2.5em;
    width: 70%;
  }

  .blue {
    margin-top: 40px;
  }

}

@media screen and (min-width: 790px) {

  // WEEK ONE STYLES

  .one .fonts {
    margin-top: 60px;
  }

  // WEEK TWO STYLES

  .two .week-title {
    margin-top: 20px;
  }

  .week-two-copy {
    margin-top: 0;
    padding-top: 0;
  }

  .week-two-copy span {
    font-size: 26px;
  }

  b {
    font-size: 40px;
    font-style: italic;
  }

  .two {
    background-color: $color-week-two-complement-grumpy;
    background-image: radial-gradient(circle, lighten($color-week-two-grumpy, 15) 30%, #FFF 40%, $color-week-two-complement-grumpy);
  }

  .could {
    margin-bottom: 0;
  }

  .animal,
  .hate {
    margin-bottom: 0;
    margin-top: 0;
  }

  .grumpy-steve-bear {
    max-height: 300px;
  }

  .week-two-copy .steve {
    font-size: 20px;
  }

  .two .fonts {
    margin-top: 0;
  }
}
