// WEEK ONE STYLES

.one {
  background-color: $color-week-one-background-gray;
}

.week-one-copy {
  font-size: 20px;
  letter-spacing: .5em;
  line-height: 2.2em;
  margin: 10px auto;
  width: 80%;
  @media #{$breakpoint-480} {
    font-size: 1.4em;
    margin-top: 20px;
    @media #{$breakpoint-600} {
      line-height: 3em;
      @media #{$breakpoint-800} {
        font-size: 1.8em;
        letter-spacing: 0.3em;
        line-height: 2.5em;
        @media #{$breakpoint-1000} {
          width: 70%;
        }
      }
    }
  }
}

.fire {
  animation: skew 1s infinite;
  animation-direction: alternate;
  color: $color-week-one-fire;
  display: inline-block;
  font-family: $font-lato;
  font-size: 48px;
  letter-spacing: .1em;
  text-transform: uppercase;
  transform: skew(20deg);
}

@keyframes skew {
  0% {
    transform: skewX(20deg);
  }
  100% {
    transform: skewX(-20deg);
  }
}

.blue {
  color: $color-main-background;
  font-family: $font-lato;
  font-size: 40px;
  letter-spacing: .1em;
  margin: 0 auto;
  margin-bottom: 18vh;
  transform: skewY(20deg);
  width: 15%;
  @media #{$breakpoint-400} {
    margin-bottom: 27vh;
    @media #{$breakpoint-480}{
      margin-bottom: 25vh;
      @media #{$breakpoint-800} {
        margin-top: 40px;
      }
    }
  }
}

.unna {
  font-family: $font-unna;
}

.fonts .unna {
  font-size: 20px;
}

.lato {
  font-family: $font-lato;
  font-size: 17px;
}

.one .fonts a:hover{
    color: $color-main-background;
}
