// WEEK THREE STYLES

.arvo {
  font-family: $font-arvo;
}

.noto-sans {
  font-family: $font-noto-sans;
}

.three {
  background-color: $color-week-three-background;
}

.three .week-title {
  border-bottom: 2px solid saturate($color-week-three-primary, 50);
  // text-shadow: -.5px -.5px $color-week-three-secondary;
  color: darken($color-week-three-secondary, 15);
}

.week-three-copy {
  font-size: 24px;
  height: 75vh;
  margin-top: 20px;
  overflow: hidden;
  position: relative;
}

.week-three-copy span {
  position: absolute;
  text-align: center;
}

.right,
.left {
  background: $color-week-three-primary;
  line-height: 1.7em;
  width: 100vh;
}

.right {
  font-family: $font-noto-sans;
  right: -43vh;
  letter-spacing: .15em;
  top: 40%;
  transform: rotateZ(90deg);
}

.left {
  font-family: $font-noto-sans;
  letter-spacing: .14em;
  left: -43vh;
  bottom: 53%;
  transform: rotateZ(-90deg);
}

.author,
.bottom,
.inside,
.top {
  width: 100vw;
}

.top {
  background: $color-week-three-secondary;
  font-family: $font-arvo;
  line-height: 2em;
  top: 8vh;
}

.inside {
  font-family: $font-arvo;
  top: 30vh;
}

.bottom {
  background: $color-week-three-secondary;
  font-family: $font-arvo;
  line-height: 2em;
  bottom: 15vh;
}

.author {
  font-family: $font-noto-sans;
  font-size: 20px;
  line-height: 1em;
  bottom: 1%;
}

.three .fonts a:hover {
  color: $color-week-three-primary;
}

.fonts .arvo {
  font-size: 17px;
}

@media screen and (min-width: 480px) {

  .right {
    right: -38vh;
  }

  .left {
    left: -38vh;
  }
}

@media screen and (min-width: 600px) {

  .right {
    right: -33vh;
  }

  .left {
    left: -33vh;
  }
}

@media screen and (min-width: 700px) {

  .right {
    right: -28vh;
  }

  .left {
    left: -28vh;
  }

  .three .fonts {
    justify-content: center;
    li {
      margin-left: 15px;
      margin-right: 15px;
    }
  }
}

@media screen and (min-width: 790px) {

  .right {
    right: -25vh;
  }

  .left {
    left: -25vh;
  }
}

@media screen and (min-width: 790px) {

  .right {
    right: -15vh;
  }

  .left {
    left: -15vh;
  }
}
