// WEEK THREE STYLES

.arvo {
  font-family: $font-arvo;
}

.noto-sans {
  font-family: $font-noto-sans;
}

.fonts .arvo {
  font-size: 18px;
}

.three {
  background: #F5F5F5;
}

.three .week-title {
  border-bottom: 2px solid #FF0088;
}

.week-three-copy {
  font-size: 24px;
  height: 75vh;
  margin-top: 20px;
  width: 100vw;
  position: absolute;
}

.week-three-copy span {
  display: block;
  margin: auto;
  position: relative;
  text-align: center;
}

.right,
.left {
  background: #FF0088;
  line-height: 2em;
  width: 150vw;
}

.right {
  left: 5vh;
  top: 15.5vh;
  transform: rotateZ(90deg);
  letter-spacing: .15em;
  font-family: $font-noto-sans;

}

.top {
  line-height: 2em;
  background: #00E4FF;
  font-family: $font-arvo;
}

.left {
  right: 30vh;
  top: 22.5vh;
  letter-spacing: .14em;
  transform: rotateZ(270deg);
  font-family: $font-noto-sans;
}

.inside {
  top: 10vh;
  font-family: $font-arvo;
}

.bottom {
  line-height: 2em;
  background: #00E4FF;
  top: 35vh;
  font-family: $font-arvo;
}

.author {
  top: 38vh;
  font-size: 20px;
  line-height: 1em;
  font-family: $font-noto-sans;
}

.three .fonts {
  margin-top: 80vh;
}

@media screen and (min-width: 480px) {

}


@media screen and (min-width: 600px) {


}


@media screen and (min-width: 790px) {

}

@media screen and (min-width: 790px) {

}
