/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import "https://fonts.googleapis.com/css?family=Arvo|Imprima|Lato|Noto+Sans|Open+Sans|Unna|Vollkorn|Abril+Fatface|Cantata+One";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

header {
  background-color: #E8E6E3;
  border-bottom: 2px solid #FF7F66;
  margin-top: -5px; }

h1 {
  font-family: "Cantata One", serif;
  font-size: 1.6em;
  padding-top: 30px;
  text-align: center; }
  @media screen and (min-width: 800px) {
    h1 {
      font-size: 2.8em; } }

h4 {
  font-family: "Imprima", sans-serif;
  line-height: 1.5em;
  margin: 15px 0;
  text-align: center; }

nav {
  height: 35px;
  margin: 10px auto; }
  @media screen and (min-width: 480px) {
    nav {
      display: flex;
      justify-content: center; } }

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

nav a,
nav a:visited {
  color: #2185C5;
  text-decoration: none; }
  nav a:hover,
  nav a:visited:hover {
    color: #FF7F66; }

nav li {
  font-family: "Cantata One", serif;
  height: 30px;
  padding: 10px;
  text-align: center;
  text-transform: lowercase; }
  @media screen and (min-width: 800px) {
    nav li {
      margin: 0 10px; } }

.hidden {
  display: none; }
  @media screen and (min-width: 480px) {
    .hidden {
      display: inline-block; } }

.main-content {
  background-color: #7ECEFD;
  height: 500px; }
  @media screen and (min-width: 600px) {
    .main-content {
      height: 550px; } }

@media screen and (min-width: 480px) {
  .main-content h2 {
    padding-top: 50px; } }

.about-title {
  padding-top: 8vh; }

h2 {
  font-family: "Cantata One", serif;
  font-size: 22px;
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: center; }

.main-about {
  font-family: "Imprima", sans-serif;
  font-size: 1.3em;
  line-height: 2em;
  max-width: 80%;
  margin: auto;
  padding-top: 50px;
  text-align: center; }
  @media screen and (min-width: 480px) {
    .main-about {
      line-height: 2.5em; } }
  @media screen and (min-width: 480px) and (min-width: 800px) {
    .main-about {
      letter-spacing: 0.1em;
      padding-top: 20px;
      width: 70%; } }

.week-title {
  border-bottom: 2px solid #ff2a00;
  padding-bottom: 10px;
  width: 200px; }
  @media screen and (min-width: 800px) {
    .week-title {
      margin-bottom: 10px;
      padding-bottom: 10px; } }

h3 {
  font-family: "Cantata One", serif;
  font-size: 14px;
  padding-top: 5px;
  text-align: center; }

@media screen and (min-width: 800px) {
  .week-date {
    height: 20px;
    margin-top: 5px; } }

.week {
  border: 2px solid black;
  border-top: none;
  height: 100vh;
  padding-top: 20px; }

.fonts {
  display: flex;
  font-family: "Cantata One", serif;
  height: 30px;
  justify-content: center;
  line-height: 24px;
  margin: auto;
  margin-top: 4vh;
  vertical-align: top;
  width: 80vw; }
  @media screen and (min-width: 480px) {
    .fonts {
      margin-top: 4vh; } }
  .fonts a {
    color: black;
    text-decoration: none; }

@media screen and (min-width: 480px) {
  .fonts li {
    padding: 0 10px 0 15px; } }

.one {
  background-color: #555f68; }

.week-one-copy {
  font-size: 20px;
  letter-spacing: .5em;
  line-height: 2.2em;
  margin: 10px auto;
  width: 80%; }
  @media screen and (min-width: 480px) {
    .week-one-copy {
      font-size: 1.4em;
      margin-top: 20px; } }
  @media screen and (min-width: 480px) and (min-width: 600px) {
    .week-one-copy {
      line-height: 3em; } }

  @media screen and (min-width: 480px) and (min-width: 600px) and (min-width: 800px) {
    .week-one-copy {
      font-size: 1.8em;
      letter-spacing: 0.3em;
      line-height: 2.5em; } }

  @media screen and (min-width: 480px) and (min-width: 600px) and (min-width: 800px) and (min-width: 1000px) {
    .week-one-copy {
      width: 70%; } }

.fire {
  animation: skew 1s infinite;
  animation-direction: alternate;
  color: #ff2a00;
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-size: 48px;
  letter-spacing: .1em;
  text-transform: uppercase;
  transform: skew(20deg); }

@keyframes skew {
  0% {
    transform: skewX(20deg); }
  100% {
    transform: skewX(-20deg); } }
.blue {
  color: #7ECEFD;
  font-family: "Lato", sans-serif;
  font-size: 40px;
  letter-spacing: .1em;
  margin: 0 auto;
  margin-bottom: 18vh;
  transform: skewY(20deg);
  width: 15%; }
  @media screen and (min-width: 400px) {
    .blue {
      margin-bottom: 27vh; } }
  @media screen and (min-width: 400px) and (min-width: 480px) {
    .blue {
      margin-bottom: 25vh; } }

  @media screen and (min-width: 400px) and (min-width: 480px) and (min-width: 800px) {
    .blue {
      margin-top: 40px; } }

.unna {
  font-family: "Unna", serif; }

.fonts .unna {
  font-size: 20px; }

.lato {
  font-family: "Lato", sans-serif;
  font-size: 17px; }

.one .fonts a:hover {
  color: #7ECEFD; }

.two {
  background-color: #e2b894;
  background-image: radial-gradient(circle, #d0e3f2 20%, #FFF 25%, #e2b894); }
  @media screen and (min-width: 800px) {
    .two {
      background-image: radial-gradient(circle, #d0e3f2 30%, #FFF 40%, #e2b894); } }

.vollkorn {
  font-family: "Vollkorn", serif; }

.open-sans {
  font-family: "Open Sans", sans-serif; }

.two .week-title {
  border-bottom: 2px solid #94BEE2; }
  @media screen and (min-width: 480px) {
    .two .week-title {
      margin-bottom: 5px;
      padding-top: 10px; } }

@media screen and (min-width: 480px) {
  .two .date {
    height: 20px; } }

.week-two-copy {
  margin-top: 20px;
  padding: 20px;
  width: 100%; }
  @media screen and (min-width: 600px) {
    .week-two-copy {
      padding-bottom: 0; } }
  @media screen and (min-width: 800px) {
    .week-two-copy {
      margin-top: 0;
      padding-top: 0; } }
  .week-two-copy span {
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    width: 100%; }

b {
  font-family: "Vollkorn", serif;
  font-size: 30px;
  margin: 0 3px; }
  @media screen and (min-width: 800px) {
    b {
      font-size: 40px;
      font-style: italic; } }

.could {
  margin-bottom: 10px; }
  @media screen and (min-width: 600px) {
    .could {
      padding-left: 60px; } }
  @media screen and (min-width: 600px) and (min-width: 800px) {
    .could {
      font-size: 26px;
      margin-top: 10px; } }

.because {
  margin-bottom: 20px;
  text-align: right; }
  @media screen and (min-width: 480px) {
    .because {
      padding-right: 30px; } }
  @media screen and (min-width: 480px) and (min-width: 800px) {
    .because {
      font-size: 26px;
      margin-bottom: 0; } }

.animal {
  text-align: right;
  margin: 20px 0; }
  @media screen and (min-width: 480px) {
    .animal {
      margin-top: 30px;
      padding-right: 30px;
      padding-top: 20px; } }
  @media screen and (min-width: 480px) and (min-width: 800px) {
    .animal {
      font-size: 26px;
      margin-top: 10px;
      margin-bottom: 0;
      padding-right: 60px;
      padding-top: 0; } }

.hate {
  font-size: 16px;
  margin: 30px 0; }
  @media screen and (min-width: 480px) {
    .hate {
      margin-top: 10px; } }
  @media screen and (min-width: 480px) and (min-width: 600px) {
    .hate {
      padding-left: 40px; } }

  @media screen and (min-width: 480px) and (min-width: 600px) and (min-width: 800px) {
    .hate {
      font-size: 26px;
      margin-bottom: 0; } }

.steve {
  text-align: center; }
  @media screen and (min-width: 800px) {
    .steve {
      font-size: 16px;
      margin: 10px; } }

.two .fonts {
  font-size: 14px; }
  @media screen and (min-width: 480px) {
    .two .fonts {
      justify-content: center; } }
  @media screen and (min-width: 480px) and (min-width: 480px) {
    .two .fonts {
      margin-top: 0; } }

.two .fonts li {
  padding-left: 10px; }

.two .fonts a:hover {
  color: #94BEE2; }

.fonts .vollkorn {
  font-size: 15px; }

.grumpy-steve-bear {
  display: block;
  margin: 0 auto;
  max-height: 200px;
  width: auto; }
  @media screen and (min-width: 480px) {
    .grumpy-steve-bear {
      margin-top: 40px; } }
  @media screen and (min-width: 480px) and (min-width: 800px) {
    .grumpy-steve-bear {
      margin-top: 0;
      max-height: 300px; } }

.arvo {
  font-family: "Arvo", serif; }

.noto-sans {
  font-family: "Noto Sans", sans-serif; }

.three {
  background-color: gainsboro; }

.three .week-title {
  border-bottom: 2px solid #ff0088;
  color: #00a0b3; }

.week-three-copy {
  font-size: 24px;
  height: 75vh;
  margin-top: 20px;
  overflow: hidden;
  position: relative; }

.week-three-copy span {
  position: absolute;
  text-align: center; }

.right,
.left {
  background: #FF0088;
  line-height: 1.7em;
  width: 100vh; }

.right {
  letter-spacing: .15em;
  right: -43vh;
  top: 40%;
  transform: rotateZ(90deg); }
  @media screen and (min-width: 480px) {
    .right {
      right: -38vh; } }
  @media screen and (min-width: 480px) and (min-width: 600px) {
    .right {
      right: -33vh; } }

  @media screen and (min-width: 480px) and (min-width: 600px) and (min-width: 700px) {
    .right {
      right: -28vh; } }

  @media screen and (min-width: 480px) and (min-width: 600px) and (min-width: 700px) and (min-width: 800px) {
    .right {
      right: -15vh; } }

.left {
  bottom: 53%;
  left: -43vh;
  letter-spacing: .14em;
  transform: rotateZ(-90deg); }
  @media screen and (min-width: 480px) {
    .left {
      left: -38vh; } }
  @media screen and (min-width: 480px) and (min-width: 600px) {
    .left {
      left: -33vh; } }

  @media screen and (min-width: 480px) and (min-width: 600px) and (min-width: 700px) {
    .left {
      left: -28vh; } }

  @media screen and (min-width: 480px) and (min-width: 600px) and (min-width: 700px) and (min-width: 800px) {
    .left {
      left: -15vh; } }

.author,
.bottom,
.inside,
.top {
  width: 100vw; }

.top {
  background: #00E4FF;
  line-height: 2em;
  top: 8vh; }

.inside {
  top: 30vh; }

.bottom {
  background: #00E4FF;
  bottom: 15vh;
  line-height: 2em; }

.author {
  bottom: 1%;
  font-size: 20px;
  line-height: 1em; }

@media screen and (min-width: 700px) {
  .three .fonts {
    justify-content: center; }
    .three .fonts li {
      margin-left: 15px;
      margin-right: 15px; } }

.three .fonts a:hover {
  color: #FF0088; }

.fonts .arvo {
  font-size: 17px; }

.abril-fatface {
  font-family: "Abril Fatface", cursive; }

.four .week-title {
  margin-top: 40px; }
.four .fonts {
  margin-top: 80px; }
  @media screen and (min-width: 950px) {
    .four .fonts {
      margin-top: 60px; } }
.four .fonts li {
  margin-left: 5px; }

#gradient {
  background-color: #000000;
  width: 100%; }

.adams {
  font-size: 28px;
  height: 400px;
  line-height: 2em;
  padding-top: 30px; }
  @media screen and (min-width: 950px) {
    .adams {
      font-size: 32px;
      line-height: 2.5em; } }

.deadlines {
  margin-left: 10%; }
  @media screen and (min-width: 700px) {
    .deadlines {
      margin-left: 15%; } }

.like {
  margin-left: 20%; }
  @media screen and (min-width: 700px) {
    .like {
      margin-left: 25%; } }

.whoosh {
  letter-spacing: .4em;
  margin-left: 30%; }
  @media screen and (min-width: 700px) {
    .whoosh {
      margin-left: 35%; } }

.sound {
  margin-left: 40%; }
  @media screen and (min-width: 700px) {
    .sound {
      margin-left: 45%; } }

.fly {
  margin-left: 50%; }
  @media screen and (min-width: 480px) {
    .fly {
      margin-left: 60%; } }
  @media screen and (min-width: 480px) and (min-width: 700px) {
    .fly {
      margin-left: 65%; } }

.douglas {
  font-size: 26px;
  text-align: center; }
  @media screen and (min-width: 950px) {
    .douglas {
      padding-top: 30px; } }

/*# sourceMappingURL=styles.css.map */
